// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Reset
@import "node_modules/reset-css/sass/_reset.scss";

//Default css
@import "defo";
@import "responsive";
@import "../pages/shop";
