.logo {
    text-transform: uppercase;
    font-size: 1.4em;
    background: linear-gradient(to left, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.linking {

}

#product-image {
    width: 500px;
    height: 100%;
}


.addToCart{
    border: 1px solid black;
    margin-top: 40px;
    padding: 15px 40px;
    color: black !important
}

.addToCart:hover {
    background: gray;
    color: white;
    text-decoration: none;
    letter-spacing: 5px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}
