.logo {
    text-transform: uppercase;
    font-size: 1.4em;
    background: linear-gradient(to left, #30CFD0 0%, #330867 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


